<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="resources/css/admin.css" rel="stylesheet" />
</head>


<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked admin-menu">
					<li class="active"><a href="#" data-target-id="home"><i
							class="fa fa-home fa-fw"></i>Home</a></li>
					<li><a href="http://www.jquery2dotnet.com"
						data-target-id="1"><i class="fa fa-list-alt fa-fw"></i>Gruppe freigeben</a></li>
					<li><a href="http://www.jquery2dotnet.com"
						data-target-id="2"><i class="fa fa-file-o fa-fw"></i>Gruppe l&ouml;schen</a></li>
					<li><a href="http://www.jquery2dotnet.com"
						data-target-id="3"><i class="fa fa-bar-chart-o fa-fw"></i>Fachrichtung freigeben</a></li>
					<li><a href="http://www.jquery2dotnet.com"
						data-target-id="4"><i class="fa fa-table fa-fw"></i>Abmelden</a></li>
	
				</ul>
			</div>
			<div class="col-md-9 well admin-content" id="home">
				<p>Administratorfunktionen ausführen.</p>
				<p>
					Here's the original one from BhaumikPatel: <a
						href="http://bootsnipp.com/snippets/featured/vertical-admin-menu"
						target="_BLANK">Vertical Admin Menu</a> <strong>Thank you
						Bhaumik!</strong>
				</p>
			</div>
			<div class="col-md-9 well admin-content" id="1">Gruppe freigeben</div>
			<div class="col-md-9 well admin-content" id="2">Gruppe l&ouml;schen</div>
			<div class="col-md-9 well admin-content" id="3">Fachrichtung freigeben</div>
			<div class="col-md-9 well admin-content" id="4">Abmelden</div>
		
		</div>
	</div>
	<!-- jQuery -->
	<script src="resources/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/admin.js"></script>
</body>
</html>