<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Getting Started:Serving Web Content</title>
	<link href="resources/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
	 <link href="resources/Anmelden.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="resources/img/Logo2.jpg" />
            <p id="profile-name" class="profile-name-card"></p>
            <form action="#" th:action="@{/login}" th:object="${benutzer}" method="post" class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                 <input type="text" th:field="*{benutzername}" id="inputEmail" class="form-control" placeholder="Benutzername"/>
                 <input type="password" th:field="*{passwort}" id="inputPassword" class="form-control" placeholder="Passwort"/>            
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Einloggen</button>
            </form>
            <a href="#" class="forgot-password">
               	Passwort vergessen?
            </a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="resources/js/bootstrap.js"></script>
    <script src="resources/Anmelden.js"></script>
</body>
</html>