<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/htm; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/beitragSchreiben}" th:object="${beitrag}" method="post">
                <label>Titel</label>
                <input type="text" th:field="*{titel}" placeholder="Titel eingeben"/>
                <label>Inhalt</label>
                <input type="text" th:field="*{inhalt}" placeholder="Text eingeben"/>
              <button type="submit">Beitrag posten</button>
    </form>
</body>
</html>