<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>K&auml;psele</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="resources/css/profil.css" rel="stylesheet"/>
    <link href="resources/css/freelancer.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">K&auml;psele.de</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a th:href="@{/Menu}">Men&uuml;</a>
                    </li>
                    <li>
                         <a th:href="@{/}">abmelden</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


<header>
        <div class="container2">
           
        </div>
    </header>



<div class="container">
       <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" th:text="${gruppe.name}"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://www.staedtischesgymnasiumahlen.de/images/logoinformatik.jpg" class="img-circle img-responsive"/> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><strong>Klausurname:</strong></td>
                        <td><b th:text="${gruppe.klausurname}"></b></td>
                      </tr>
                      <tr>
                        <td><strong>Anzahl Gruppenmitglieder:</strong></td>
                        <td><b th:text="${gruppenAnzahl}"></b></td>
                      </tr>
                      <tr>
                        <td><strong>Gegr&uuml;ndet:</strong></td>
                        <td><b th:text="${gruppe.erstelltAm}"></b></td>
                      </tr>
                   
                       
                     
                    </tbody>
                  </table>
                  <span style="color: red;" th:text = "${nachricht}"></span>
                  <a th:href="@{/QuestStarten}" class="btn btn-primary btn-sm btn-block">Quest starten</a>
                  <a th:href="@{/GruppeAuswaehlen}" class="btn btn-primary btn-sm btn-block">Teamcombat starten</a>
                  <a data-toggle="modal" data-target="#Frage" class="btn btn-primary btn-sm btn-block">Frage anlegen</a>
                  <a href="#" class="btn btn-primary btn-sm btn-block">Gruppenmitglieder</a>
                  <a href="#" class="btn btn-primary btn-sm btn-block">Bossfight</a>
     
          
          		  
                </div>
              </div>
            </div>
               
                 <div class="panel-footer">
                       
                            <a data-toggle="modal" data-target="#Beitrag" data-original-title="Beitrag schreiben"  type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            
                        
                            <a th:href="@{/GruppenPinnwandSortiereLikes}" data-original-title="Nach Likes sortieren" data-toggle="tooltip" type="button" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-star"></i></a>
                            <a th:href="@{/GruppenPinnwandSortiereDatum}" data-original-title="Nach Datum sortieren" data-toggle="tooltip" type="button" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-arrow-down"></i></a>
                            
                             <span class="pull-right">
                            <a th:href="@{/GruppeBeitreten}" data-original-title="Der Gruppe beitreten" data-toggle="tooltip" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-log-in"></i></a>
                            <a th:href="@{/GruppeVerlassen}" data-original-title="Gruppe verlassen" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
                    
                    <div class="panel panel-info">
                    <div class="panel-heading">
              <h3 class="panel-title">Pinnwand</h3>
            </div>
            <div class="panel-body">
            <table class="table table-user-information">
                    <tbody>
                    <!--Ein Kommentar geht von hier -->
                      <tr th:each="thema : ${themen}">
                        <td><p><b th:text="${thema.benutzer.benutzername}"></b></p>erstellt am: <div class="normalertext" th:text="${thema.hilfsDatum}"></div></td>
                     	<td><p><b th:text="${thema.titel}"></b></p>
                        <div class="normalertext" th:text="${thema.inhalt}"></div>
						<br/>
                      	<b>Gef&auml;llt-mir-Angaben: </b><b th:text="${thema.bewertung}"></b>
                        <div class="panel-footer">
                        <a th:href="@{/bewertet/GruppenProfil/__${thema.inhalt_id}__}" data-original-title="Gef&auml;llt mir" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                       
         
                             <span class="pull-right">
                            <a th:href="@{/Loeschen/GruppenProfil/__${thema.inhalt_id}__}" data-original-title="L&ouml;schen" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    	</div>
                        </td>
                         <td></td>
                          <tr th:each="kommentar : ${thema.hilfListeKommentare}">
										<td>
											<div class="normalertext">Kommentar</div>
										</td>
										<td>
											<div class="panel-footer">
												<a  data-original-title="Gef&auml;llt mir"
													data-toggle="tooltip" type="button"
													class="btn btn-sm btn-primary"><i
													class="glyphicon glyphicon-thumbs-up"></i></a>&nbsp;&nbsp;&nbsp; <div class="normalertext" th:text="'Von ' + ${kommentar.benutzer.benutzername} + ': ' + ${kommentar.inhalt}"></div>
												<span class="pull-right" th:text="${kommentar.bewertung} + ' Personen gef&auml;llt das'"></span> 
											</div>
											
										</td>
									</tr>
                          
                      </tr>
                      
                      <!--bis hier -->
                      </tbody>
                      </table>
           </div>
           </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="modal fade" id="Frage" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x<span class="sr-only"></span></button>
			<h3 class="modal-title" id="lineModalLabel">Frage anlegen</h3>
		</div>
		<div class="modal-body">
			
            <!-- content goes here -->
			<form th:action= "@{/frageErst}" th:object="${frage}" id="frageForm" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Fragentext</label>
                <input type="text" th:field= "*{text}" class="form-control" placeholder="Fragentext eingeben"/>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Antwortm&ouml;glichkeit 1</label>
                <input type="text" th:field="*{zwischenSpeicherAntworten}" class="form-control" placeholder="Antwortm&ouml;glichkeit eingeben"/>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" th:field="*{zwischenSpeicherLoesung1}"/> Korrekte Antwort
                </label>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Antwortm&ouml;glichkeit 2</label>
                <input type="text" th:field="*{zwischenSpeicherAntworten}" class="form-control" placeholder="Antwortm&ouml;glichkeit eingeben"/>
              </div>
              <div class="checkbox">
              
                <label>
                  <input type="checkbox" th:field="*{zwischenSpeicherLoesung2}"/> Korrekte Antwort
                </label>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Antwortm&ouml;glichkeit 3</label>
                <input type="text" th:field="*{zwischenSpeicherAntworten}" class="form-control" placeholder="Antwortm&ouml;glichkeit eingeben"/>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" th:field="*{zwischenSpeicherLoesung3}"/> Korrekte Antwort
                </label>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Antwortm&ouml;glichkeit 4</label>
                <input type="text" th:field = "*{zwischenSpeicherAntworten}" class="form-control" placeholder="Antwortm&ouml;glichkeit eingeben"/>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" th:field="*{zwischenSpeicherLoesung4}"/> Korrekte Antwort
                </label>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Datei hinzuf&uuml;gen</label>
                <input type="file" id="exampleInputFile" th:field ="*{medium}"/>
              </div>
              <button type="submit" id="frageSub" class="btn btn-success">Frage anlegen</button>
            </form>

		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Schlie&szlig;en</button>
				</div>
			</div>
		</div>
	</div>
  </div>
  </div>
    
    <div class="modal fade" id="Beitrag" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x<span class="sr-only"></span></button>
			<h3 class="modal-title" id="lineModalLabel">Beitrag schreiben</h3>
		</div>
		<div class="modal-body">
			
            <!-- content goes here -->
			<form th:action="@{/GruppenBeitragSchreiben}" th:object="${thema}" id="themaForm" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Titel</label>
                <input type="text" th:field="*{titel}" class="form-control" placeholder="Titel eingeben"/>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Inhalt</label>
                <input type="text" th:field="*{inhalt}" class="form-control" placeholder="Text eingeben"/>
              </div>
              <button type="submit" id="themaSub" class="btn btn-success">Beitrag posten</button>
            </form>

		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Schlie&szlig;en</button>
				</div>
			</div>
		</div>
	</div>
  </div>
  </div>
    
    
    
    <script src="resources/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="resources/js/classie.js"></script>
    <script src="resources/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="resources/js/jqBootstrapValidation.js"></script>
    <script src="resources/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="resources/js/freelancer.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="resources/js/profil.js" type="text/javascript"></script>
 
 <script th:inline="javascript">
$(function() {

	   //twitter bootstrap script

	    $("button#themaSub").click(function(){

	            $.ajax({

	        type: "POST",

	    url: "/SoftwarePraktikum/GruppenBeitragSchreiben",

	    data: $("#themaForm").serialize(),

	            success: function(msg){

	$("#Beitrag").empty();

	           $("#Beitrag").modal('hide');

	  

	            },

	    error: function(){

	    alert("failure");

	    }

	          });
	           location.reload(true);
	            
	    });
    
	   });
</script>   
 
</body>
</html>