<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started:Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/htm; charset=UTF-8" />
</head>
<body>
	<p th:text="${name} + ' isnt a Kaepsele'" />
	<form action="#" th:action="@{/medium"} th:objects="${benutzer}" method="post">
	<p>Benutzername: <input type="text" th:field="*{benutzername}"/></p>
	<p>Passwort: <input type="password" th:field="*{passwort}"/></p>
	<p><input type="submit" value="einloggen"/> 
	</form>
</body>
</html>