<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="resources/css/profil.css" rel="stylesheet"/>
    <link href="resources/css/freelancer.css" rel="stylesheet"/>
    <link href="resources/css/Question.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="divForm">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">K&auml;psele.de</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Lernen</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">&Uuml;ber uns</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


<header>
        <div class="container2">
           
        </div>
    </header>

<form th:action= "@{/questBeenden}" th:object="${frage1}" name="questForm" method="post">
<table class="table table-user-information">
<tbody>
<tr th:each ="frage : ${fragen}">
<td>
<div class="container-fluid bg-info2">
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h3><span class="label label-warning"  th:text="${frage.text}" id="qid1">1</span> </h3>
        </div>
        <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
               <div id="loadbar" style="display: none;">
                  <div class="blockG" id="rotateG_01"></div>
                  <div class="blockG" id="rotateG_02"></div>
                  <div class="blockG" id="rotateG_03"></div>
                  <div class="blockG" id="rotateG_04"></div>
                  <div class="blockG" id="rotateG_05"></div>
                  <div class="blockG" id="rotateG_06"></div>
                  <div class="blockG" id="rotateG_07"></div>
                  <div class="blockG" id="rotateG_08"></div>
              </div>
          </div>
<table class="table table-user-information">
<tbody>
<tr th:each = "antwort : ${frage.antwortmoeglichkeiten}">
<td>
          <div class="quiz" id="quiz" data-toggle="buttons">
          <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right" th:text="${antwort}"></i></span> <input type="checkbox" name="q_answer" th:value="${frage.frage_id} + ';!!;!' + ${antwort}" th:field ="*{zwischenSpeicherAntworten}" /></label>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
   </div>
   <div class="modal-footer text-muted">
    <span id="answer"></span>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<div class="container-fluid bg-info2">
    <div class="modal-dialog" id = "Questbutton">
      <div class="modal-content">
         <div class="modal-header">
           <div class="quiz" id="quiz" data-toggle="buttons">
           <div><button type="submit" onclick="closeSelf();">Quest beenden</button></div>
           
           </div>          
          </div>
      </div>
    </div>
</div>
</form>


  </div>
  <div  id="closelink" style="display:none">
            <a href="javascript:window.close()">Click Here to Close this Page</a>
        </div>
        

    <script src="resources/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="resources/js/classie.js"></script>
    <script src="resources/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="resources/js/jqBootstrapValidation.js"></script>
    <script src="resources/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="resources/js/freelancer.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="resources/js/profil.js" type="text/javascript"></script>
    <script src="resources/js/Question.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript">
function closeSelf(){
    document.forms['questForm'].submit();
    hide(document.getElementById('divForm'));
    unHide(document.getElementById('closelink'));

}</script>
</body>
</html>